// breadcrumb
.breadcrumb-enter-active,
.breadcrumb-leave-active
  transition: all  0.25s
.breadcrumb-enter,
.breadcrumb-leave-active
    opacity: 0
    transform: translateX(20px);
.breadcrumb-move
    transition: all 0.25s;

.breadcrumb-leave-active
  position: absolute;

// fade-transform
.fade-transform-enter-active
.fade-transform-leave-active
    transition: all 0.25s
.fade-transform-enter
.fade-transform-leave-active
    opacity: 0
    transform translateX(-20px)
